<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>mainBackgroundColor</string>
		<key>alpha</key>
		<integer>1</integer>
		<key>hexCode</key>
		<string>373d42</string>
	</dict>
	<dict>
		<key>name</key>
		<string>halfAlphaMainBackgroundColor</string>
		<key>alpha</key>
		<string>0.5</string>
		<key>baseColor</key>
		<string>mainBackgroundColor</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mainOrangeColor</string>
		<key>alpha</key>
		<integer>1</integer>
		<key>hexCode</key>
		<string>ffba00</string>
	</dict>
</array>
</plist>
